<div id="global-bar" class="global-bar dont-print">
  <div class="global-bar-message govuk-width-container">
    <div class="global-bar-covid-wrapper">
      <div class="govuk-pub-action-link govuk-pub-action-link--light-text govuk-pub-action-link--with-subtext govuk-!-margin-bottom-0">
        <span class="govuk-pub-action-link__contents-wrapper">
          <span class="govuk-pub-action-link__link-wrapper">
            <a class="govuk-link govuk-pub-action-link__link js-call-to-action" href="/">
              Coronavirus (COVID-19)
            </a>
          </span>
          <span class="govuk-pub-action-link__subtext-wrapper">
            <span class="govuk-pub-action-link__subtext">Guidance and support</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
