<div id="global-bar" class="global-bar dont-print" data-module="global-bar">
  <div class="global-bar-message govuk-width-container">
    <div class="global-bar-covid-wrapper">
      <div class="app-c-action-link app-c-action-link--light-text app-c-action-link--simple-light app-c-action-link--with-subtext govuk-!-margin-bottom-3">
        <span class="app-c-action-link__contents-wrapper">
          <span class="app-c-action-link__link-wrapper">
            <a class="govuk-link app-c-action-link__link js-call-to-action" href="/coronavirus">
              Coronavirus (COVID-19)
            </a>
          </span>
          <span class="app-c-action-link__subtext-wrapper">
            <span class="app-c-action-link__subtext">National restrictions in England from 5 November</span>
          </span>
        </span>
      </div>
      <div class="app-c-action-link app-c-action-link--light-text app-c-action-link--simple-light app-c-action-link--with-subtext govuk-!-margin-bottom-0">
        <span class="app-c-action-link__contents-wrapper">
          <span class="app-c-action-link__link-wrapper">
            <a class="govuk-link app-c-action-link__link js-call-to-action" href="/transition">
              The UK and EU transition
            </a>
          </span>
          <span class="app-c-action-link__subtext-wrapper">
            <span class="app-c-action-link__subtext">Take action now for new rules in 2021</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
