{{ govukPubRelatedNavigation({
  sections: [{
    items: [{
      heading: {
        text: 'Find out what support you can get if you’re affected by coronavirus'
      },
      href: 'https://www.gov.uk/find-coronavirus-support',
      classes: 'govuk-pub-related-navigation__section-link--other govuk-link--no-visited-state'
    },{
      heading: {
        text: 'COVID-19: guidance for households with possible coronavirus infection'
      },
      href: 'https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance',
      classes: 'govuk-pub-related-navigation__section-link--other govuk-link--no-visited-state'
    }]
  }]
}) }}
