
{% extends "layout.html" %}

{% macro _location(params) %}
<p class="govuk-body">
  We've matched the search {% if params.term | length %}<span class="govuk-!-font-weight-bold">“{{ params.term }}”</span>{% endif %} to <span class="govuk-!-font-weight-bold">{{ params.placeName }}</span>.
</p>
{% endmacro %}

{% macro _travel(params) %}
<h2 class="govuk-heading-m">Travelling between areas</h2>

<p class="govuk-body">You can travel between areas which are in Medium or High.</p>
<p class="govuk-body">You should only travel into or out of a Very High area if you need to travel for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>work</li>
  <li>education</li>
  <li>youth services</li>
  <li>caring responsibilities</li>
</ul>

<h3 class="govuk-heading-s">Travelling to {{ params.placeName }}</h3>

{% if params.alertLevel == 1 %}
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a Medium area, the guidance is the same.</p>
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a High or Very High area, you must follow the guidance for the place you’re coming from.</p>
{% elif params.alertLevel == 2 %}
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a Medium area, you must follow the guidance for {{ params.placeName }}, which is High.</p>
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a Very High area, you must follow the guidance for the area you’re coming from.</p>
{% elif params.alertLevel == 3 %}
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a Medium or High area, you must follow the guidance for {{ params.placeName }}, which is Very High.</p>
  <p class="govuk-body">If you’re going to {{ params.placeName }} from a Very High area, follow the guidance for {{ params.placeName }}.</p>
{% endif %}

<h3 class="govuk-heading-s">Travelling from {{ params.placeName }}</h3>

{% if params.alertLevel == 1 %}
  <p class="govuk-body">If you’re going from {{ params.placeName }} to a Medium area, the guidance is the same.</p>
  <p class="govuk-body">If you're going from {{ params.placeName }} to a High or Very High area you must follow the guidance for the area you’re going to.</p>
{% elif params.alertLevel == 2 %}
  <p class="govuk-body">If you’re going from {{ params.placeName }} to a High area, the guidance is the same.</p>
  <p class="govuk-body">If you're going from {{ params.placeName }} to a Medium area you must follow the guidance for {{ params.placeName }}, which is High.</p>
  <p class="govuk-body">If you're going from {{ params.placeName }} to a Very High area you must follow the guidance for the area you’re going to.</p>
{% elif params.alertLevel == 3 %}
  <p class="govuk-body">If you're going from {{ params.placeName }} to a Medium or High area you must follow the guidance for {{ params.placeName }}, which is Very High.</p>
  <p class="govuk-body">If you’re going from {{ params.placeName }} to a Very High area, follow the guidance for the place you’re going to.</p>
{% endif %}

{% endmacro %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {{ govukBackLink({
    text: "Back",
    href: actions.back
  }) }}
{% endblock %}

{% block content %}

  {% set commingSoon = date | date('YYYY-MM-DD') | dateDiff(restriction.start_date, 'days') %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {%- if location.country in ['Scotland','Wales','Northern Ireland'] %}
          There might be restrictions in this area
        {% else %}
          {% if commingSoon %}
            The Local COVID Alert Level is changing soon
          {% else %}
            {%- if location | length %}
              {%- if restriction.alert_level %}
                Local COVID Alert Level: {{ restriction.alert_level | getAlertLevel }}
              {% else %}
                Local COVID Alert Level: {{ 1 | getAlertLevel }}
              {% endif -%}
            {% else %}
              There is no information about the restrictions in this area
            {% endif -%}
          {% endif -%}
        {% endif -%}
      </h1>

      {%- if location.country === 'Scotland' %}

        {%- if location.district | length %}
          {{ _location({
            term: data.search,
            placeName: location.district
          }) }}
        {% endif -%}

        {{ govukPubActionLink({
          heading: {
            href: 'https://www.gov.scot/coronavirus-covid-19/',
            text: 'Find out what you can or cannot do from the Scottish Government.'
          },
          classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
        }) }}

      {% elif location.country === 'Wales' %}

        {%- if location.district | length %}
          {{ _location({
            term: data.search,
            placeName: location.district
          }) }}
        {% endif -%}

        {{ govukPubActionLink({
          heading: {
            href: 'https://gov.wales/local-lockdown',
            text: 'Find out what you can or cannot do from the Welsh Government.'
          },
          classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
        }) }}

      {% elif location.country === 'Northern Ireland' %}

        {%- if location.district | length %}
          {{ _location({
            term: data.search,
            placeName: location.district
          }) }}
        {% endif -%}

        {{ govukPubActionLink({
          heading: {
            href: 'https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions',
            text: 'Find out what you can or cannot do from the Northern Ireland Government.'
          },
          classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
        }) }}

      {% else -%}

        {%- if location.district | length %}
          {{ _location({
            term: data.search,
            placeName: location.district
          }) }}
        {% endif -%}

        {% if commingSoon %}

          <h2 class="govuk-heading-m">Current Local COVID Alert Level</h2>

          <p class="govuk-body">
            At the moment this area is in Local COVID Alert Level: {{ (restriction.alert_level - 1) | getAlertLevel if restriction.alert_level else '1' | getAlertLevel }}.
          </p>

          {{ govukPubActionLink({
            heading: {
              href: 'https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19',
              text: 'Check what you can and cannot do now.'
            },
            classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
          }) }}

          <h2 class="govuk-heading-m">Future Local COVID Alert Level</h2>

          <p class="govuk-body">
            From the {{ restriction.start_date | date('DD MMMM') }} this area will be in Local COVID Alert Level: {{ restriction.alert_level | getAlertLevel if restriction.alert_level else '1' | getAlertLevel }}.
          </p>

          {{ govukPubActionLink({
            heading: {
              href: restriction.guidance.link,
              text: 'Check what you can and cannot do from ' + restriction.start_date | date('DD MMMM') + '.'
            },
            classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
          }) }}

        {% else %}

          {%- if location | length %}

            <h2 class="govuk-heading-m">Current Local COVID Alert Level</h2>

            <p class="govuk-body">
              This area is in Local COVID Alert Level: {{ restriction.alert_level | getAlertLevel if restriction.alert_level else '1' | getAlertLevel }}.
            </p>

            {%- if restriction.alert_level %}

              {{ govukPubActionLink({
                heading: {
                  href: restriction.guidance.link,
                  text: 'Check what you can and cannot do.'
                },
                classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
              }) }}

            {% else %}

              {{ govukPubActionLink({
                heading: {
                  href: '/guidance/local-covid-alert-level-medium',
                  text: 'Check what you can and cannot do.'
                },
                classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
              }) }}

            {% endif -%}

          {% else %}

            {{ govukPubActionLink({
              heading: {
                href: 'https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19',
                text: 'All coronavirus information about what you can and cannot do.'
              },
              classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-5"
            }) }}

          {% endif -%}

        {% endif -%}

      {% endif -%}

      {{ _travel({
        placeName: location.district,
        alertLevel: restriction.alert_level if restriction.alert_level else 1
      }) }}

      <h2 class="govuk-heading-m">
        Find information about somewhere else
      </h2>

      <p class="govuk-body">
        <a class="govuk-link" href="/">Enter another postcode or place name</a>.
      </p>

    </div>
    <div class="govuk-grid-column-one-third">
      {#% include "includes/related-navigation.html" %#}
    </div>
  </div>

{% endblock %}
