
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Coronavirus (COVID-19)",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  {%- if errors.length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}

    </div>
  </div>
  {% endif -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <!-- <section class="govuk-pub-notice">
        <p class="govuk-body">From 00:01 Saturday areas including London, York, etc will be moving to Local Covid Alert Level High</p>
      </section> -->

      {#{ govukInsetText({
        html: 'There are different restrictions in <a class="govuk-link" href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a class="govuk-link" href="https://gov.wales/local-lockdown">Wales</a> and <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions">Northern Ireland</a>.'
      }) }#}

      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
        <dl>
          <dt class="app-c-important-metadata__term">Applies to: </dt>
          <dd class="app-c-important-metadata__definition">England (see guidance for <a class="govuk-link app-link" href="https://gov.wales/local-lockdown">Wales</a>, <a class="govuk-link app-link" href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, and <a class="govuk-link app-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions">Northern Ireland</a>)</dd>
        </dl>
      </div>

      <!-- <div class="app-locator-form">
        <p class="govuk-body govuk-!-margin-bottom-0">From 00:01 Saturday areas including London, York, etc will be moving to Local Covid Alert Level High</p>
      </div> -->

      <p class="govuk-body">Enter the postcode of the place you want to find information about. For example where you live, work, or visit.</p>

      <p class="govuk-body">Each area has a <a class="govuk-link" href="/guidance/local-covid-alert-levels-what-you-need-to-know">Local COVID Alert Level</a>. There are 3 Local COVID Alert Levels. Sometimes this is known as a ‘local lockdown’.</p>

      <p class="govuk-body">You can find out what you can or cannot do.</p>

      <div class="app-locator-form">

        <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

          {%- set hintHtml %}
          <p class="govuk-hint">We use this to give you more accurate information about the area.</p>
          <p class="govuk-hint">For example, LS1 1UR</p>
          {% endset -%}

          {{ govukInput({
            id: "search",
            classes: "govuk-input--width-10",
            name: "search",
            label: {
              text: "Enter a full postcode",
              classes: "govuk-label--s"
            },
            hint: {
              html: hintHtml
            },
            errorMessage: errors | getErrorMessage('postcode'),
            value: data.postcode if errors | length
          }) }}

          {{ govukButton({
            text: "Find"
          }) }}

        </form>

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a>
        </p>

      </div>

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "includes/related-navigation.html" %}
    </div>
  </div>

{% endblock %}
